Body{
background-color: aliceblue;
width: 95%;
height: 100%;
display: block;
position: absolute;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.roundblock {
    position: absolute;
    border: 2px rgb(251 90 231) solid;
    width: 700px;
    border-radius: 2%;
    background-color: rgb(61, 61, 61);
    color: aliceblue;
    height: 80px;
    top: 31px;
    left: 51px;
}
.turblock {
    position: absolute;
    height: 600px;
    width: 300px;
    background-color: rgb(61, 61, 61);
    top: 300px;
    color: aliceblue;
    left: 1000px;
}
.arrow {
    width: 60px;
    height: 40px;
    top: -20px;
    background-color:rgb(61, 61, 61) ;
    cursor: pointer;
    position: absolute;
    border-radius: 5%;
    left: 1100px;
}
.menublock {
    position: absolute;
    background-color: rgb(61, 61, 61);
    border-radius: 10%;
    width: 200px;
    height: 200px;
    transition: 0.4s;
    left: 1200px;
    opacity: 0;
}